<div class="row mb-3">
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="expense_icon_wrapper">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <h1>$2500</h1>
            <span class="f-500">Current Cash Balance</span>
            <span class="d-flex align-items-center gap-1 mt-2">
                <i class="fa-solid fa-arrow-trend-up"></i>
               <span>2.5% from last month</span>
            </span>
        </div>
    </div>
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="expense_icon_wrapper due_amount">
                <i class="fa-solid fa-money-bill-trend-up"></i>
            </div>
            <h1>$4800</h1>
            <span class="f-500">Total Due Amount</span>
            <span class="d-flex align-items-center gap-1 mt-2">
                <i class="fa-solid fa-arrow-trend-down"></i>
               <span>2.5% from last month</span>
            </span>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="custom_card">
            <div class="d-flex align-items-center justify-content-between gap-3">
                <span class="text-nowrap f-500">Total Income and Expense</span>
                <div style="min-width: 100px;">
                    <input type="text"
                        placeholder="Select Date"
                        class="date-selector ps-2"
                        bsDaterangepicker
                        #daterangepicker="bsDaterangepicker"
                        (bsValueChange)="onDateRangeChange($event)"
                        [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }">
                </div>
            </div>
            <div class="d-flex gap-3 mt-2">
                <h1 class="m-0">$7800</h1>
                <div class="w-100">
                    <span class="expense_desc">Net Income/Expense for the month of {{month_name}}</span>
                    <div class="expense_income mt-2">
                        <div class="expense_left">
                            <span class="expense_amount">{{removePoint(totalIncome) || 0}}</span>
                            <span class="expense_type">Income</span>
                        </div>
                        <div class="expense_right">
                            <div class="progress income">
                                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="incomePercentage"
                                [attr.aria-valuenow]="incomePercentage"
                                aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="expense_income mt-2">
                        <div class="expense_left">
                            <span class="expense_amount">{{totalExpense || 0}}</span>
                            <span class="expense_type">Expense</span>
                        </div>
                        <div class="expense_right">
                            <div class="progress expense">
                                <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="expensePercentage"
                                [attr.aria-valuenow]="expensePercentage"
                                aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="custom_card">
            <div class="expenses_heading mb-3 d-flex align-items-center justify-content-between">
                <span>Expenses</span>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="create_btn">Add Expense</button>
            </div>
            <div class="table_filters mb-3">
              <div class="search_wrappper">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="8"></circle><line x1="21" x2="16.65" y1="21" y2="16.65"></line></svg>      <input type="text" name="search" placeholder="Search">
              </div>
              
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"># </th>
                        <th scope="col">Expense ID</th>
                        <th scope="col">Expense Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Attachment</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Date</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let exp of allExpenses; let i = index">
                        <th scope="row">{{(currentPage - 1) * pageSize + (i + 1)}}</th>
                        <td>Exp-{{exp.expID}}</td>
                        <td>{{exp.expName}}</td>
                        <td>{{exp.expAmount}}</td>
                        <td>
                          <ng-container *ngIf="exp.expAttachment; else noAttachment">
                            <a [href]="exp.expAttachment" download="attachment_{{exp.expID}}.jpg">Expense Attachment</a>
                          </ng-container>
                          <ng-template #noAttachment>No Attachment</ng-template>
                        </td>
                        <td>{{exp.expPaymentMode}}</td>
                        <td>{{exp.expDate | date: 'MMM dd, yyyy'}}</td>
                        <td>{{exp.description}}</td>
                        <td>
                          <div class="dropdown text-center">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                               <img src="../../../assets/Icons/vertical-dots.png" alt="" style="width: 15px">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                              <li><a class="dropdown-item" href="#">Edit</a></li>
                              <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mb-0 mt-3">
              <li [class]="currentPage === 1 ? 'page-item disabled' : 'page-item'">
                <a class="page-link" tabindex="-1" [attr.aria-disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">&laquo;</a>
              </li>
              <li class="page-item" *ngFor="let page of [].constructor(totalPages); let index = index" [class.active]="currentPage === index + 1">
                <a class="page-link" (click)="onPageChange(index + 1)">{{ index + 1 }}</a>
              </li>
              <li [class]="currentPage === totalPages ? 'page-item disabled' : 'page-item'">
                <a class="page-link" [attr.aria-disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)">&raquo;</a>
              </li>
            </ul>
          </nav>
    </div>
</div>

<app-my-modal>
  <app-create-expense (closeModal)="handleModalClose()"></app-create-expense>
</app-my-modal>