<div class="row mb-3">
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="expense_icon_wrapper">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <h1>$2500</h1>
            <span class="f-500">Current Cash Balance</span>
            <span class="d-flex align-items-center gap-1 mt-2">
                <i class="fa-solid fa-arrow-trend-up"></i>
               <span>2.5% from last month</span>
            </span>
        </div>
    </div>
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="expense_icon_wrapper due_amount">
                <i class="fa-solid fa-money-bill-trend-up"></i>
            </div>
            <h1>$4800</h1>
            <span class="f-500">Total Due Amount</span>
            <span class="d-flex align-items-center gap-1 mt-2">
                <i class="fa-solid fa-arrow-trend-down"></i>
               <span>2.5% from last month</span>
            </span>
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="custom_card">
            <div class="d-flex align-items-center justify-content-between gap-3">
                <span class="text-nowrap f-500">Total Income and Expense</span>
                <div style="min-width: 100px;">
                    <input type="text"
                        placeholder="Select Date"
                        class="date-selector ps-2"
                        bsDaterangepicker
                        #daterangepicker="bsDaterangepicker"
                        (bsValueChange)="onDateRangeChange($event)"
                        [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }">
                </div>
            </div>
            <div class="d-flex gap-3 mt-2">
                <h1 class="m-0">$7800</h1>
                <div class="w-100">
                    <span class="expense_desc">Net Income/Expense for the month of {{month_name}}</span>
                    <div class="expense_income mt-2">
                        <div class="expense_left">
                            <span class="expense_amount">85000</span>
                            <span class="expense_type">Income</span>
                        </div>
                        <div class="expense_right">
                            <div class="progress income">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="expense_income mt-2">
                        <div class="expense_left">
                            <span class="expense_amount">15000</span>
                            <span class="expense_type">Expense</span>
                        </div>
                        <div class="expense_right">
                            <div class="progress expense">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="custom_card">
            <div class="expenses_heading mb-3 d-flex align-items-center justify-content-between">
                <span>Expenses</span>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="create_btn">Add Expense</button>
            </div>
            <div class="table_filters mb-3">
              <div class="search_wrappper">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="8"></circle><line x1="21" x2="16.65" y1="21" y2="16.65"></line></svg>      <input type="text" name="search" placeholder="Search">
              </div>
              
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"># </th>
                        <th scope="col">Expense ID</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Attachment</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Date</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Exp-0001</td>
                        <td>$1800</td>
                        <td>No attachments</td>
                        <td>Cash</td>
                        <td>August 20, 2023</td>
                        <td>door lock changed and repaired</td>
                        <td>
                          <div class="dropdown text-center">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                               <img src="../../../assets/Icons/vertical-dots.png" alt="" style="width: 15px">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                              <li><a class="dropdown-item" href="#">Edit</a></li>
                              <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-my-modal>
  <app-create-expense></app-create-expense>
</app-my-modal>