<div class="rent_form_wrapper">
    <div class="container">
        <div class="title mb-3">{{ rentData && rentData.rentID ? 'Update Rent' : 'Receive Rent' }}</div>
        <form [formGroup]="rentForm" (ngSubmit)="onSubmit()">
          <div class="user__details row">
            <div class="input__box col-lg-6 mb-3">
              <span class="details">Select Person</span>
              <select formControlName="stdID">
                <option *ngFor="let student of allStudents" [value]="student.stdID">{{student.name}}</option>
              </select>
            </div>
            <div class="input__box col-lg-6 mb-3">
              <span class="details">Date</span>
              <input type="text"
                placeholder="Select Date"
                class="ps-2"
                bsDatepicker  
                formControlName="RentPaidMonth"
                [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }">
            </div>
            <div class="input__box col-lg-6 mb-3">
              <span class="details">Payment Type</span>
              <select name="payment_type" id="payment_type" formControlName="RentType">
                <option value="cash">Cash</option>
                <option value="online">Online</option>
              </select>
            </div>
            <div class="input__box col-lg-6 mb-3">
              <span class="details">Amount Paid</span>
              <input type="text" placeholder="5500" required formControlName="PaidAmount">
            </div>
          </div>
          <div class="button mt-3 mb-3">
            <button type="submit" class="create_btn">{{ rentData && rentData.rentID ? 'Update' : 'Submit' }}</button>
          </div>
        </form>
      </div>
</div>