<div class="rent_form_wrapper">
  <div class="container">
    <div class="title mx-2">Student Admission Form</div>
    <div class="student_form_wrapper d-flex align-items-start gap-3 mt-4">
      <div class="form mx-2">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">First Name</span>
              <input type="text" placeholder="First Name" formControlName="StudentFirstName" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Last Name</span>
              <input type="text" placeholder="Last Name" formControlName="StudentLastName" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Father Name</span>
              <input type="text" placeholder="Father Name" formControlName="FatherName" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Contact Number</span>
              <input type="text" placeholder="03025532270" formControlName="StudentContactNo" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Contact Number <span class="tiny">(Incase of emergence)</span></span>
              <input type="text" placeholder="03025532270" formControlName="EmergencyContactNo" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">CNIC Number</span>
              <input type="text" placeholder="15302-5632222-8" formControlName="StudentCNICNo" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Basic Rent</span>
              <input type="text" placeholder="7500" formControlName="BasicRent" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Admission Date</span>
              <input type="text"
                placeholder="Admission Date"
                class="ps-2"
                bsDatepicker
                formControlName="admission_date"
                [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }">
            </div>
            <div class="col-md-12 form-input mb-3">
              <span class="details">Permanent Address</span>
              <input type="text" placeholder="House No 1 Rose Lane 5, New lalazar Rawalpindi" formControlName="StudentAddress" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">CNIC Front Pic</span>
              <input type="file" class="cnic_pic" formControlName="CNICFront">
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">CNIC Back Pic</span>
              <input type="file" class="cnic_pic" formControlName="CNICBack">
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Profile Picture</span>
              <input type="file" class="cnic_pic" formControlName="ProfilePic">
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <button type="submit" class="create_btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>