<div class="rent_form_wrapper">
  <div class="container">
    <div class="title mx-2">Student Admission Form</div>
    <div class="student_form_wrapper d-flex align-items-start gap-3 mt-4">
      <div class="form mx-2">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Full Name" formControlName="name" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Email</span>
              <input type="text" placeholder="email" formControlName="email" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Contact Number</span>
              <input type="text" placeholder="03025532270" formControlName="contactNo" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Secondary Contact Number</span>
              <input type="text" placeholder="03025532270" formControlName="secondaryContactNo" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">CNIC Number</span>
              <input type="text" placeholder="15302-5632222-8" formControlName="cnic" required>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Basic Rent</span>
              <input type="text" placeholder="7500" formControlName="basicRent" required>
            </div>
            <div class="col-lg-3 col-md-6 form-input mb-3">
              <span class="details">Admission Date</span>
              <input type="text"
                placeholder="Admission Date"
                class="ps-2"
                bsDatepicker
                formControlName="admissionDate"
                [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-blue' }">
            </div>
            <div class="col-lg-3 col-md-6 form-input mb-3">
              <span class="details">Blood Group</span>
              <select name="blood_group" id="" formControlName="bloodGroup">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-6 form-input mb-3">
              <span class="details">Room Number</span>
              <select name="room_number" id="" formControlName="roomNumber">
                <option *ngFor="let room of allRooms" [value]="room.roomID" >RN-{{room.roomID}}</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-6 form-input mb-3">
              <span class="details">Security Fee</span>
              <input type="text" placeholder="2500" formControlName="securityFee">
            </div>
            <div class="col-md-12 form-input mb-3">
              <span class="details">Permanent Address <span class="tiny">(As per CNIC)</span></span>
              <input type="text" placeholder="House No 1 Rose Lane 5, New lalazar Rawalpindi" formControlName="address" required>
            </div>
            <div class="col-md-12 form-input mb-3">
              <span class="details">Description <span class="tiny">(If any)</span></span>
              <input type="text" placeholder="Add description if any (Security Fee deposited.)" formControlName="description">
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">CNIC Front Pic</span>
              <input type="file" class="cnic_pic" (change)="onFileChange($event, 'cnic_front')">
              <h4 style="font-size: 10px; color: red" *ngIf="fileError">File Size Too Big</h4>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">CNIC Back Pic</span>
              <input type="file" class="cnic_pic" (change)="onFileChange($event, 'cnic_back')">
              <h4 style="font-size: 10px; color: red" *ngIf="fileError">File Size Too Big</h4>
            </div>
            <div class="col-lg-4 col-md-6 form-input mb-3">
              <span class="details">Profile Picture</span>
              <input type="file" class="cnic_pic" (change)="onFileChange($event, 'picture')">
              <h4 style="font-size: 10px; color: red" *ngIf="fileError">File Size Too Big</h4>
            </div>
          </div>
          <div class="row">
            <div class="d-flex">
              <button type="submit" class="create_btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>