<div class="profile_wrapper">
    <div class="custom_card mb-3">
        <div class="row">
            <div class="col-auto">
                <div class="customer-details">
                    <div class="d-flex align-items-center flex-column justify-content-center">
                        <span class="customer-widget-img d-inline-flex justify-content-center w-100">
                            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </span>
                        <div class="customer-details-cont mt-1 text-center text-break w-75">
                            <h6>Suliman Munawar khan</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="customer-details">
                            <div class="d-flex align-items-center">
                                <span class="customer-widget-icon d-inline-flex">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <div class="customer-details-cont">
                                    <h6>Email Address</h6>
                                    <p>john@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="customer-details">
                            <div class="d-flex align-items-center">
                                <span class="customer-widget-icon d-inline-flex">
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <div class="customer-details-cont">
                                    <h6>Phone Number</h6>
                                    <p>585-785-4840</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="customer-details">
                            <div class="d-flex align-items-center">
                                <span class="customer-widget-icon d-inline-flex">
                                    <i class="fa-regular fa-id-card"></i>
                                </span>
                                <div class="customer-details-cont">
                                    <h6>CNIC</h6>
                                    <p>Kanakku Corporation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="customer-details">
                            <div class="d-flex align-items-center">
                                <span class="customer-widget-icon d-inline-flex">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                <div class="customer-details-cont">
                                    <h6>Address</h6>
                                    <p>4712 Cherry Ridge Drive Rochester, NY 14620.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="customer-details">
                            <div class="d-flex align-items-center">
                                <span class="customer-widget-icon d-inline-flex">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                <div class="customer-details-cont">
                                    <h6>Admission Date</h6>
                                    <p>July 20, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="customer-details">
                            <div class="d-flex align-items-center">
                                <span class="customer-widget-icon d-inline-flex">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                <div class="customer-details-cont">
                                    <h6>Bloog Group</h6>
                                    <p>O+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-sm-6 col-12 d-flex mb-3">
            <div class="custom_card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-info-light">
                            <img src="https://kanakku.dreamguystech.com/html/template/assets/img/icons/receipt-item.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Payment</div>
                            <div class="dash-counts">
                                <p>$298</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 d-flex mb-3">
            <div class="custom_card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-primary-light">
                            <img src="https://kanakku.dreamguystech.com/html/template/assets/img/icons/transaction-minus.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Outstanding</div>
                            <div class="dash-counts">
                                <p>$325,215</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 d-flex mb-3">
            <div class="custom_card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-warning-light">
                            <img src="https://kanakku.dreamguystech.com/html/template/assets/img/icons/archive-book.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Overdue</div>
                            <div class="dash-counts">
                                <p>$7825</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 d-flex mb-3">
            <div class=" custom_card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-primary-light">
                            <img src="https://kanakku.dreamguystech.com/html/template/assets/img/icons/clipboard-close.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Security</div>
                            <div class="dash-counts">
                                <p>2000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 d-flex mb-3">
            <div class="custom_card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-light-green">
                            <img src="https://kanakku.dreamguystech.com/html/template/assets/img/icons/message-edit.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Basic Rent</div>
                            <div class="dash-counts">
                                <p>$6500</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-12 d-flex mb-3">
            <div class="custom_card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-danger-light border-0">
                            <img src="https://kanakku.dreamguystech.com/html/template/assets/img/icons/3d-rotate.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Recurring</div>
                            <div class="dash-counts">
                                <p>$86,892</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="custom_card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"># </th>
                        <th scope="col">Month</th>
                        <th scope="col">Year</th>
                        <th scope="col">Basic Rent</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Current Month Due</th>
                        <th scope="col">Total Dues</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>January</td>
                        <td>2023</td>
                        <td>$6500</td>
                        <td>Cash</td>
                        <td>$6500</td>
                        <td>$0</td>
                        <td>$1200</td>
                        <td>
                           <div class="table_action">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <!-- <i class="fa-solid fa-trash-can"></i> -->
                           </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>