<div>
    <div class="mb-3">
        <app-user></app-user>
    </div>
    <div class="row">
        <div class="col-md-8 mb-3">
            <app-dashboard-charts></app-dashboard-charts>
        </div>
        <div class="col-md-4">
            <div class="former_wrapper custom_card">
                <div class="former_heading card_heading">
                    <span class="heading">Former Students</span>
                    <span class="view_more">view more</span>
                </div>
                <div class="former_student_wrapper">
                    <div class="single_former_student">
                        <span>1</span>
                        <div class="img_wrapper">
                            <img class="img" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>
                        <div class="contact_wrapper">
                            <span class="f-500">Suliman Munawar khan</span>
                            <span>+923025532270</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="student_details_wrapper custom_card">
                <div class="card_heading ">
                    <span class="heading">Students Details</span>
                    <span class="view_more" [routerLink]="['/Persons']">view more</span>
                </div>
                <div class="students_details">
                    <div class="single_student mt-3 mb-3 flex-wrap">
                        <div class="student_img_wrapper">
                            <span class="counter">1</span>
                            <img class="img" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="">
                            <div class="contact_info">
                                <span class="student_name">Suliman Munawar khan</span>
                                <span class="student_contact">+923025532270</span>
                            </div>
                        </div>
                        <div class="d-flex align-content-end gap-4 flex-wrap">
                            <span>sullaimaan@example.com</span>
                            <span class="text-nowrap">15302-5632225-9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>