.remember{
    font-weight: 500;
    font-size: 14px;
    color: #282828;
}
.forgot-link {
    color: #7539FF;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 14px;
}