<div class="custom_card">
    <div class="student_detail_title mb-3 d-flex align-items-center justify-content-between">
        <span>All Students</span>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="create_btn">New Student</button>
    </div>
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"># </th>
          <th scope="col">Name</th>
          <th scope="col">CNIC #</th>
          <th scope="col">Admission Date</th>
          <th scope="col">Basic Rent</th>
          <th scope="col">Contact No</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of allStudent">
          <th scope="row">{{std.stdID}}</th>
          <td>{{std.name}}</td>
          <td>{{std.cnic}}</td>
          <td>{{std.admissionDate | date: 'MMM d, y'}}</td>
          <td>{{std.basicRent}}</td>
          <td>{{std.contactNo}}</td>
          <td>{{std.bloodGroup}}</td>
          <td>
            <div class="dropdown text-center">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                 <img src="../../../assets/Icons/vertical-dots.png" alt="" style="width: 15px">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" (click)="deleteStudent(std.stdID)">Delete</a></li>
                <li><a class="dropdown-item" (click)="studentProfile(std.stdID)">View Profile</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
  </table>
   </div>
</div>
<app-my-modal #createStudentModal>
  <app-create-student (studentCreated)="closeCreateStudentModal()"></app-create-student>
</app-my-modal>
  