<div class="invoice-wrapper">
    <div class="custom_card">
        <div class="p-3">
            <div class="page-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h5>Invoice Details</h5>
                    <div class="list-btn">
                        <button class="create_btn">Download</button>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="invoice-card">
                        <div class="invoice-item invoice-item-one mt-3">
                            <div class="row align-items-center">
                                <div class="invoice-info text-end">
                                    <h1 class="text-warning">UNPAID</h1>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="invoice-item invoice-item-two">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="invoice-info mb-3">
                                        <strong class="customer-text-one">Invoiced To<span>:</span> </strong>
                                        <p class="invoice-details-two">
                                            Samir Khan<br>
                                            03025532270<br>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="invoice-info invoice-info2 mb-3">
                                        <strong class="customer-text-one">Pay To<span>:</span></strong>
                                        <p class="invoice-details-two">
                                            Khan Hostel<br>
                                            Rose Lane No 5, New Lalazar<br>
                                            Rawalpindi
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="invoice-info invoice-info2 mb-3">
                                        <strong class="customer-text-one">Payment Details<span>:</span></strong>

                                        <p class="text-start invoice-details-two invoice-details mb-1">
                                            <strong>Easypaisa (Samir)</strong><span>: </span>03411027477
                                        </p>

                                        <p class="text-start invoice-details-two invoice-details mb-1">
                                            <strong>UBL (Samir)</strong><span>: </span>0123124578963
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invoice-item invoice-table-wrap border-bottom pb-3">
                            <div class="invoice-table-head">
                                <h6>Monthly Record:</h6>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-center table-hover mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Month</th>
                                                    <th>Year</th>
                                                    <th>Basic Rent</th>
                                                    <th>Previous Month Dues</th>
                                                    <th>Total Dues</th>
                                                    <th>Total Amount Payable</th>
                                                    <th>Amount Paid</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>January</td>
                                                    <td>2023</td>
                                                    <td>7500</td>
                                                    <td>500</td>
                                                    <td>8000</td>
                                                    <td>8000</td>
                                                    <td>7000</td>
                                                </tr>
                                                <tr>
                                                    <td>Feburary</td>
                                                    <td>2023</td>
                                                    <td>7500</td>
                                                    <td>1000</td>
                                                    <td>8500</td>
                                                    <td>8500</td>
                                                    <td>8500</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="terms-conditions">
                            <div class="row align-items-center justify-content-end mt-3 w-100">
                                <div class="col-lg-4 col-md-12">
                                    <div class="invoice-total-card">
                                        <div class="invoice-total-box">
                                            <div class="invoice-total-inner">
                                                <p>Month (January): <span>7500</span></p>
                                                <p>Previous Month Dues:<span>1000</span></p>
                                                <p>Total Dues: <span>8500</span></p>
                                            </div>
                                            <div class="invoice-total-footer">
                                                <h4>Total Amount <span>{{ 8500 | currency:'PKR ':'symbol':'1.1-1' }}</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>