<div class="dashboard_card_wrapper row">
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="dashboard_card_header">
                <div class="dashboard_card_icon_wrapper bg_1">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
                <span>Total Income</span> 
            </div>
            <div class="dashboard_card_value mt-2 mb-2">
                <span>245K</span>
            </div>
            <div class="dashboard_card_desc mt-3">
                <span class="d-flex align-items-center gap-1">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <span>2.5% from last month</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="dashboard_card_header">
                <div class="dashboard_card_icon_wrapper bg_2">
                    <i class="fa-solid fa-wallet"></i>
                </div>
                <span>Total Expense</span>
            </div>
            <div class="dashboard_card_value mt-2 mb-2">
                <span>245K</span>
            </div>
            <div class="dashboard_card_desc mt-3">
                <span class="d-flex align-items-center gap-1">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                   <span>2.5% from last month</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="dashboard_card_header">
                <div class="dashboard_card_icon_wrapper bg_3">
                    <i class="fa-solid fa-vault"></i>  
                </div>
                <span>Total Savings</span>
            </div>
            <div class="dashboard_card_value mt-2 mb-2">
                <span>245K</span>
            </div>
            <div class="dashboard_card_desc mt-3">
                <span class="d-flex align-items-center gap-1">
                    <i class="fa-solid fa-arrow-trend-down"></i>
                    <span>2.5% from last month</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-3">
        <div class="custom_card">
            <div class="dashboard_card_header">
                <div class="dashboard_card_icon_wrapper bg_4">
                    <i class="fa-solid fa-money-bill-trend-up"></i> 
                </div>
                <span>Most Spending</span>
            </div>
            <div class="dashboard_card_value mt-2 mb-2">
                <span>House Rent</span>
            </div>
            <div class="dashboard_card_desc mt-3">
                <span class="d-flex align-items-center gap-1">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <span>2.5% from last month</span>
                </span>
            </div>
        </div>
    </div>
   
</div>