.activity-body {
    max-height: 350px;
    overflow: auto;
    .activity-feed {
        list-style: none;
        margin-bottom: 0;
        margin-left: 5px;
        padding: 0;
        .feed-item {
            border-left: 2px solid #e4e8eb;
            padding-bottom: 19px;
            padding-left: 20px;
            position: relative;
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -10px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 1px solid #E3E3E3;
                background: #E3E3E3;
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                padding: 6px;
                left: -9px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 2px solid #F3F3F3;
                background-color: transparent;
            }
        }
    }
}
