<div class="custom_card">
    <div class="activity-header border-bottom-1 p-3">
        <h5 class="card-title">Activity</h5>
    </div>
    <div class="activity-body p-3">
        <ul class="activity-feed">
            <li class="feed-item">
                <div class="feed-date">Nov 16</div>
                <span class="feed-text"><a href="profile.html">Brian Johnson</a> has paid the invoice <a
                        href="invoice-details.html">"#DF65485"</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Nov 7</div>
                <span class="feed-text"><a href="profile.html">Marie Canales</a> has accepted your estimate <a
                        href="view-estimate.html">#GTR458789</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Oct 24</div>
                <span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Oct 24</div>
                <span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Oct 24</div>
                <span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Oct 24</div>
                <span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Oct 24</div>
                <span class="feed-text">New expenses added <a href="expenses.html">"#TR018756</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Jan 27</div>
                <span class="feed-text"><a href="profile.html">Robert Martin</a> gave a review for <a
                        href="product-details.html">"Dell Laptop"</a></span>
            </li>
            <li class="feed-item">
                <div class="feed-date">Jan 14</div>
                <span class="feed-text">New customer registered <a href="profile.html">"Tori Carter"</a></span>
            </li>
        </ul>
    </div>
</div>